@import '../../utils/variables.scss';

$image-url: url('https://mjl-portfolio.s3.us-east-2.amazonaws.com/4DBE5C62-55F6-48F6-BF73-1A460DFB5879-C.jpeg');

.header {
  background-color: #252934;
  background-image: $image-url;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - var(--nh));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    text-align: center;
    color: #FFF;

    .item {
      padding: 12px 0;
      
      .text {
        background-color: #111;
        padding: 18px;
        letter-spacing: 10px;
        font-size: 25px;
        
        @media screen and (max-width: $screen-sm-min) {
          padding: 10px;
          letter-spacing: 8px;
          font-size: 14px;
        }
      }

      .name {
        font-size: 50px;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 26px;
        }
      }
    }
  }
}
