$image-url: url('https://mjl-portfolio.s3.us-east-2.amazonaws.com/4DBE5C62-55F6-48F6-BF73-1A460DFB5879-C.jpeg');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.header {
  font-family: Lato;
  background-color: #252934;
  background-image: $image-url;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - var(--nh));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .caption {
    text-align: center;
    color: #FFF;

    .item {
      padding: 12px 0;

      #name {
        font-size: 50px;

        @media screen and (max-width: $screen-sm-min) {
          padding: 10px;
          letter-spacing: 8px;
          font-size: 36px;
        }
      }

      .border {
        background-color: #111;
        padding: 18px;
        letter-spacing: 10px;
        font-size: 25px;

        @media screen and (max-width: $screen-sm-min) {
          padding: 10px;
          letter-spacing: 8px;
          font-size: 18px;
        }
      }
    }
  }

  .btn-container {
    // justify-content: flex-end;
    text-align: center;
    margin: 5px;
    padding: 5px;

    button {
      // background-image: url(https://mjl-portfolio.s3.us-east-2.amazonaws.com/github-4.svg);
      background-color: #222;
      color: #fff;
      padding: 15px 20px;
      background-repeat: no-repeat;
      background-position: 5px center;
      // padding: 7px 5px 7px 35px;
      border: 2px solid #000;
      font-size: 16px;
      letter-spacing: 1px;
    }
    
    button:hover {
      // background-image: url(https://mjl-portfolio.s3.us-east-2.amazonaws.com/github-5.svg);
      background-color: #CCCCCC;
      cursor: pointer;
    }
  }
}
