$image-url: url('https://thumbs.gfycat.com/FrighteningSparklingHomalocephale-max-1mb.gif');

.header {
  font-family: Lato;
  background-image: $image-url;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .caption {
    text-align: center;
    color: #FFF;
  }

  .item {
    padding: 12px 0;
  }

  .border {
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
}
