@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}