// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.stacks {
  padding: 30px 5px 95px 5px;
  text-align: center;

  .container {
    padding: 5px;
    margin: 5px 5%;
    
    .title {
      font-size: 30pt;
      letter-spacing: 2px;
    }

    .list {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;

      .technology {
        flex: 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .stack {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .item {
            margin: 5px;
            padding: 5px;

            @media screen and (max-width: $screen-sm-min) {
              margin: 2px;
              padding: 2px;
            }
            
            .icon {
              width: 64px;
              height: 64px;

              @media screen and (max-width: $screen-lg-min) {
                width: 32px;
                height: 32px;
              }
            }
    
            .text {
              @media screen and (max-width: $screen-sm-min) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

