// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.stacks {
  padding: 10px 5px 55px 5px;
  // background-color: #EEEEEE;
  text-align: center;
  scroll-margin: 70px;

  @media screen and (max-width: $screen-sm-min) {
    scroll-margin: 100px;
  }
  

  .container {
    padding: 5px;
    margin: 5px 5%;
    
    h1 {
      font-size: 30pt;
    }

    .list {
      
      display: flex;
      justify-content: center;
      flex-flow: row wrap;

      .technology {
        flex: 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: 0px 10px;
        // padding: 0px 10px;
      
        // background-color: #ccc;
        
        .stack {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .item {
            margin: 5px;
            padding: 5px;

            @media screen and (max-width: $screen-sm-min) {
              margin: 2px;
              padding: 2px;
            }
            
            .icon {
              width: 64px;
              height: 64px;

              @media screen and (max-width: $screen-lg-min) {
                width: 32px;
                height: 32px;
              }
            }
    
            span {
              @media screen and (max-width: $screen-sm-min) {
                font-size: 9px;
              }
            }
          }
        }
      }
    }
  }
}

