@import '../../utils/variables.scss';

@keyframes fadeIn {
  from {color: #E31B6D;}
  to {color: #fff;}
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;

  .navigation {
    background-color: #1B242F;
    border-bottom: 3px solid #04C2C9;
    padding: 12px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .item {
      margin: 5px;
      padding: 5px 25px;
      color: #FFF;
      background-color: #1B242F;
      font-size: 16px;
      border: none;
      cursor: pointer;
      outline: none;

      @media screen and (max-width: $screen-sm-min) {
        padding: 5px;
        font-size: 10px;
      }
    }
    
    .selected {
      color: #E31B6D;
      animation-name: fadeIn;
      animation-duration: 0.7s;
    }
  }
}

