@import '../../utils/variables.scss';

.footer {
  padding: 25px;
  color: #FFF;
  background-color: #1B242F;
  text-align: center;
  font-size: 0.8em;

  .img {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    filter: invert(89%) sepia(0%) saturate(4179%) hue-rotate(236deg) brightness(122%) contrast(109%);
  }
}