// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.contact {
  padding: 0 5px 150px 5px;
  text-align: center;
  background-color: #252934;
  background: linear-gradient(#25293460, #252934), url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  color: #ffffff;
  // scroll-margin: 70px;

  // @media screen and (max-width: $screen-xl-min) {
  //   margin: 5px;
  // }

  // @media screen and (min-width: $screen-xl-min) {
  //   margin: 12px 64px;
  // }

  .arrow-up {
    // text-align: center;
    width: 0;
    // margin: 0 auto; 
    height: 100px;
    // right: 50%; 
    // left: 300px;
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
    border-top: 50px solid #fff;
  }

  h1 {
    font-size: 30pt;
    text-shadow: -2px -2px #000000;
  }
  
  .contact-form {

    input[type='text'] {
      height: 20px;
    }

    #message {
      height: 300px;
    }

    input[type='submit'] {
      background-color: #000;
      color: #fff;
      padding: 10px 15px;
      border: 2px solid #fff;
      font-size: 16px;
      letter-spacing: 1px;
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    
    input[type='submit']:hover {
      background-color: #CCCCCC;
      color: #000;
      // cursor: pointer;
    }
    
    input[type='text'], textarea {
      font-size: 16px;
      letter-spacing: 1px;
      margin: 2px;
      padding: 10px;
      background-color: #000;
      color: #FFF;
      border: #000;
      border-radius: 5px;
      width: 500px;

      @media screen and (max-width: $screen-sm-min) {
        width: 285px;
      }
    }
  }
}