// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.contact {
  padding: 20px 5px 55px 5px;
  text-align: center;
  background-color: #252934;
  color: #ffffff;
  scroll-margin: 70px;
  

  // @media screen and (max-width: $screen-xl-min) {
  //   margin: 5px;
  // }

  // @media screen and (min-width: $screen-xl-min) {
  //   margin: 12px 64px;
  // }

  h1 {
    font-size: 30pt;
  }
  
  .contact-form {

    input[type='text'] {
      height: 20px;
    }

    #message {
      height: 300px;
    }

    input[type='submit'] {
      background-color: #000;
      color: #fff;
      padding: 10px 15px;
      border: 2px solid #fff;
      font-size: 16px;
      letter-spacing: 1px;
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;
    }
    
    input[type='submit']:hover {
      background-color: #CCCCCC;
      color: #000;
      // cursor: pointer;
    }
    
    input[type='text'], textarea {
      font-size: 16px;
      letter-spacing: 1px;
      margin: 2px;
      padding: 10px;
      background-color: #000;
      color: #FFF;
      border: #000;
      border-radius: 5px;
      width: 500px;

      @media screen and (max-width: $screen-sm-min) {
        width: 285px;
      }
    }
  }
}