// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modal {
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;

  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  .item {
    background-color: #fff;
    margin: 0 300px;
    width: 750px;

    @media screen and (max-width: $screen-sm-min) {
      font-size: 12px;
      width: 320px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      font-size: 12px;
      width: 680px;
    }

    .presentation {
      text-align: center;
      
      .img {
        width: 100%;
      }
      
      .mvp {
        width: 25%;
      }
    }

    .description {
      padding: 20px;
    }

    .bottom-nav {
      padding: 20px;
      display: flex;
      justify-content: space-between;

      .btn {
        background-color: #222;
        color: #fff;
        padding: 10px 15px;
        border: 2px solid #000;
        font-size: 16px;
        letter-spacing: 1px;
        transition: background-color 0.25s ease-in-out;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 12px;
        }

        &:hover {
          background-color: #CCCCCC;
          color: #000;
          cursor: pointer;
        }
      }
      
    }
  }
}

.modal.show {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modal.hide {
  animation-name: fadeOut;
  animation-duration: 0.3s;
}