// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.projects {
  background-color: #252934;
  padding: 30px 5px 95px 5px;
  background: linear-gradient(#252934a6, #252934a6), url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $screen-xl-min) {
    background-attachment: scroll;
  }
  
  h1 {
    text-align: center;
  }
  
  h1.title {
    color: #EEEEEE;
    font-size: 30pt;
    letter-spacing: 2px;
  }
  
  .container {
    padding: 5px 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    
    @media screen and (max-width: $screen-md-min) {
      margin: 5px;
      flex-direction: column;
    }

    @media screen and (max-width: $screen-lg-min) {
      flex-flow: row wrap;
    }

    .item {
      position: relative;
      width: 400px;
      margin: 0 5px;

      @media screen and (max-width: $screen-lg-min) {
        margin: 5px;
        width: 350px;
      }

      @media screen and (max-width: $screen-sm-min) {
        width: 300px;
      }

      #mvp {
        background-image: url('https://mjl-portfolio.s3.us-east-2.amazonaws.com/IMG_4693+copy.png');
      }
  
      #sdc {
        background-image: url('https://mjl-portfolio.s3.us-east-2.amazonaws.com/sdc-2.png');
      }
  
      #fec {
        background-image: url('https://mjl-portfolio.s3.us-east-2.amazonaws.com/fec.png');
      }

      .mask {
        position: absolute;
        background-color: #ffffffed;
        padding: 40px 0;
        width: 100%;
        height: 240px;
        text-align: center;

        button {
          background-color: #222;
          color: #fff;
          padding: 10px 15px;
          border: 2px solid #000;
          font-size: 16px;
          letter-spacing: 1px;
          transition: background-color 0.25s ease-in-out;
        }
        
        button:hover {
          background-color: #CCCCCC;
          color: #000;
          cursor: pointer;
        }
      }

      .mask.show {
        animation-name: fadeIn;
        animation-duration: 0.5s;
      }
      
      .mask.hide {
        animation-name: fadeOut;
        animation-duration: 0.3s;
      }

      .project {
        background-size: cover;
        height: 320px;

        img {
          overflow: hidden;
          width: 200px;
        }
      }
      
      .description {
        padding: 10px;
        height: 50px;
        background-color: #FFFFFF;
        text-align: center;

        h2, h4 {
          margin: 0;
          padding: 0;
        }

        h4 {
          @media screen and (max-width: $screen-sm-min) {
            font-size: 12px;
          }
        }
      }

      .btn-container {
        text-align: center;
        margin: 5px;
        padding: 5px;

        input {
          background-image: url(https://mjl-portfolio.s3.us-east-2.amazonaws.com/github-4.svg);
          background-repeat: no-repeat;
          background-position: 5px center;
          padding: 7px 5px 7px 35px;
          border: 2px solid #000;
          font-size: 16px;
          letter-spacing: 1px;
        }
        
        input:hover {
          background-image: url(https://mjl-portfolio.s3.us-east-2.amazonaws.com/github-5.svg);
          background-color: #CCCCCC;
          cursor: pointer;
        }
      }

      .item:hover {
          background-color: #FFF;
      }
    }
  }
}