// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.about {
  padding: 30px 5px 75px 5px;
  margin: 20px;
  // scroll-margin: 70px;

  .title {
    text-align: center;
    font-size: 30pt;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    @media screen and (max-width: $screen-sm-min) {
      flex-direction: column;
      align-items: center;
    }
  
    @media screen and (max-width: $screen-lg-min) {
      margin: 0;
      padding: 0;
    }

    @media screen and (min-width: $screen-xl-min) {
      margin: 0 200px;
      padding: 0 75px;
    }
  }

  .profile-pic {
    border-radius: 50%;

    @media screen and (max-width: $screen-md-min) {
      width: 200px;
      height: 200px;
    }

    @media screen and (min-width: $screen-md-min) {
      width: 256px;
      height: 256px;
    }
  }

  .item {
    margin: 5px;
    padding: 5px;
  }

  .speech-bubble {
    background: #EEEEEE;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    // font-size: 1.2rem;
    // line-height: 1.3;
    margin: 20px;
    // max-width: 600px;
    // max-height:200px;
    padding: 20px;
    position: relative;

      @media screen and (max-width: $screen-sm-min) {
        font-size: 0.8em;
        margin: 20px 0;
      }

      // @media screen and (min-width: $screen-md-min) {
        
      // }
    }

    .speech-bubble p {
        margin: 0 0 10px;
    }
    .speech-bubble p:last-of-type {
        margin-bottom: 0;
    }

    .speech-bubble::after {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #EEEEEE;
        content: "";
        position: absolute;
        left:-19px;
        top: 56px;

        @media screen and (max-width: $screen-sm-min) {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #EEEEEE;
          border-top: 0;
          left: 43%;
          top: -13px;
        }
    }
}