// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.about {
  padding: 30px 5px 75px 5px;
  margin: 20px;

  .title {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 4px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 200px;
    padding: 0 75px;
    
    @media screen and (max-width: $screen-sm-min) {
      flex-direction: column;
      align-items: center;
    }
  
    @media screen and (max-width: $screen-lg-min) {
      margin: 0;
      padding: 0;
    }
  }

  .profile-pic {
    border-radius: 50%;
    width: 256px;
    height: 256px;

    @media screen and (max-width: $screen-md-min) {
      width: 200px;
      height: 200px;
    }
  }

  .item {
    margin: 5px;
    padding: 5px;
  }

  .speech-bubble {
    background: #EEEEEE;
    border-radius: 4px;
    left: 20px;
    margin: 20px;
    padding: 20px;
    position: relative;

      @media screen and (max-width: $screen-sm-min) {
        left: 0;
        font-size: 0.8em;
        margin: 20px 0;
      }
    }

    .speech-bubble p {
        margin: 0 0 15px;
    }
    .speech-bubble p:last-of-type {
        margin-bottom: 0;
    }

    .speech-bubble::after {
        border-left: 30px solid transparent;
        border-bottom: 30px solid #EEEEEE;
        content: "";
        position: absolute;
        left:-30px;
        top: 69px;

        @media screen and (max-width: $screen-sm-min) {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #EEEEEE;
          border-top: 0;
          left: 45%;
          top: -13px;
        }
    }
}